# archives
*.zip
*.tar.gz

# objects
*.o
snapraid

# autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
missing
stamp-h1

# projects
snapraid.dst
snapraid.epr


