# archives
*.zip
*.tar.gz
*.tgz

# backups
*~

# logs
*.log
stream*.bin

# upload
makepush.sh
makemount.sh
makeumount.sh

# autotools
Makefile
Makefile.in
compile
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
missing
stamp-h1
.dirstamp

# objects
snapraid
mktest
mkstream
*.exe
*.o
*.gcda
*.gcno
*.gcov

# projects
*.dst
*.epr
*.geany

# AFL
makeafl.sh
afl/
afl_corpus/

# specific
cov/
contrib/
paper/
kernel/
obj/
bench/
support/
archive/
www/
wiki/
beta/
ftp/

