# Configuration for snapraid

# Defines the file to use as parity storage
# It must be in an different disk than the data disks
# Format: "parity FILE_PATH"
parity /mnt/diskpar/parity

# Defines the file to use as content list
# Format: "content FILE_PATH"
# It must be in an different disk than the data disks
# It can be in the same disk used for parity storage
content /mnt/diskpar/content

# Defines the data disks to use
# Format: "disk DISK_NAME DISK_MOUNT_POINT"
disk d1 /mnt/disk1/
disk d2 /mnt/disk2/
disk d3 /mnt/disk3/

# Defines files and directories to exclude
# Format: "exclude FILE"
# Format: "exclude DIR/"
# Format: "exclude /PATH/FILE"
# Format: "exclude /PATH/DIR/"
exclude *.bak
exclude tmp/
exclude /lost+found/

# Defines the block size in kibi bytes (1024 bytes).
# Format: "block_size SIZE_IN_KiB"
# Default value is 256 -> 256 kibi bytes -> 262144 bytes
block_size 256

