# Configuration for snapraid

# Define the file to use as parity storage
# It must me in an different disk than the data disk
# Format: "parity FILE_PATH"
parity /mnt/dp/parity

# Define the file to use as content list
# Format: "content FILE_PATH"
# It must me in an different disk than the data disk
# It can be in the same disk used for parity storage
content /mnt/dp/content

# Define to data disk to use
# Format: "disk DISK_NAME DISK_MOUNT_POINT"
disk d1 /mnt/d1/
disk d2 /mnt/d2/
disk d3 /mnt/d3/
disk d4 /mnt/d4/
disk d5 /mnt/d5/
disk d6 /mnt/d6/

# Define files and directories to exclude
# Format: "exclude FILE"
# Format: "exclude DIR/"
# Format: "exclude /PATH/FILE"
# Format: "exclude /PATH/DIR/"
exclude *.bak
exclude tmp/
exclude /lost+found/

# Define the block size in kibi bytes (1024 bytes).
# Format: "block_size SIZE_IN_KiB"
# Default value is 256 -> 256 kibi bytes -> 262144 bytes
block_size 256

