/* Reset all white-space to 0 for consistency across browsers */
{
	margin:0px;
	padding:0px;
}

/* Get some padding between paragraphs and some line spacing */
p {
	line-height:1.4em;
}

/* Bye bye ugly blue border */
a img {
	border:0px;
}

/* No dots around clicked links */
a, a:active {
	outline: none;
}

/* Class to any floated elements */
.clear {
	clear:both;
}

/* styles */

a {
	text-decoration:none;
}

a:link {
	color:#0c5da5;
}

a:visited {
	color:#0c5da5;
}

a:hover {
	color:#679fd2;
	text-decoration:underline;
}

hr {
	color:#B0B0B0;
}

h1, h2, h3 {
	color:#0c5da5;
	margin-left:-1em;
}

table, td
{
	border:0px;
	border-style:none;
}

.bold {
	color:#0c5da5;
	font-weight:bold;
}

.highlight {
	color:#408dd2;
	font-weight:bold;
	font-size:150%;
}

.sg {
	color:#B00000;
}

.nw {
	white-space:nowrap;
}

/* structure */

body {
	background-color:#ffffff;
	margin:0px;
	padding:0px;
	overflow-y: scroll;
}

/* title */

#title {
	background: #0a64a4;
	padding:0px;
}

#title img {
	width: 100%;
}

/* bar */

#bar {
	background-color:#bacad9;
	padding:8px;
	padding-left:5%;
	padding-right:5%;
}

#bar a {
	color:#0c5da5;
	font-family:sans-serif;
	padding-left:1em;
	font-weight:bold;
}

#bar .bold {
	color:#0c5da5;
}

/* bottombar */

#bottombar {
	background-color:#bacad9;
	min-height: 90px;
	padding-top:16px;
	padding-bottom:16px;
	padding-left:5%;
	padding-right:5%;
}

#bottombar img {
	/* scale down the image if there is no space */
	max-width: 50%;
	height: auto;
}

#bottombar a {
	color:#0c5da5;
	font-family:sans-serif;
	padding-left:1em;
}

#bottombar .bold {
	color:#0c5da5;
}

/* main */

#main {
	padding:2px;
	padding-left:5%;
	padding-right:5%;
	max-width:1024px;
}

.text {
	margin:16px;
	margin-left:32px
}

/* table download */

.download
{
	border-collapse:collapse;
}
.download td
{
	border: 2px solid black;
	text-align:left;
	padding:5px;
}
.download th
{
	border: 2px solid black;
	font-size:1.1em;
	text-align:left;
	padding:5px;
	background-color:#bacad9;
	color:#0c5da5;
}

/* table compare */

.compare
{
	border-collapse:collapse;
}
.compare td
{
	border: 2px solid black;
	text-align:center;
}
.compare th
{
	border: 2px solid black;
	font-size:1.1em;
	padding:5px;
	background-color:#bacad9;
	color:#0c5da5;
}

